@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme colors */
:root {
  --background: #F4F3F1;
  --foreground: #1D282D;
}

/* Dark theme colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1D282D;
    --foreground: #F4F3F1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
